@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  min-width: 1150px;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  height: auto;
  border-bottom-style: solid;
}

#nav-bar {
  width: 100%;
  height: 50px;
  background-color: #fbe8d3;
}

#logo {
  width: 128px;
  height: 50px;
  float: left;
  padding-left: 10%;
}

#nav {
  width: 600px;
  height: 50px;
  float: left;
  padding-left: 50px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbe8d3;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: #222831;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  size: 12px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  /*border-radius: 10px;*/
}

#nav li a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #ff847c;
}

.active {
  background-color: #ff847c;
}

.nav-color {
  color: #eeeeee;
}

#register {
  width: 200px;
  height: 50px;
  float: right;
  padding-left: 50px;
}

#register ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbe8d3;
}

#register li {
  float: left;
  line-height: 50px;
  width: 100px;
  height: 50px;
}

#register li a {
  display: block;
  color: #222831;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  size: 12px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  /*border-radius: 10px;*/
}

#register li a:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #ff847c;
}

#content {
  width: 100%;
  height: auto;
  background-color: #fbe8d3;
}

#banner {
  width: 100%;
  height: 300px;
}
#banner img {
  width: 100%;
  height: 100%;
}

#section-bar {
  width: 100%;
  height: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fbe8d3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#section1 {
  background-color: #2a363b;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#section1:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#section2 {
  background-color: #e84a5f;
  width: 200px;
  height: 200px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#section2:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#section3 {
  background-color: #5b6d5b;
  width: 200px;
  height: 200px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#section3:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.top h2 {
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
  color: white;
}
.bot h3 {
  font-weight: normal;
  text-shadow: 1px 1px 1px grey;
  color: white;
}

#footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #035271;
}
#copyright {
  line-height: 50px;
  font-size: 16px;
  color: #fbe8d3;
}
#phone {
  line-height: 50px;
  font-weight: bold;
  font-size: 24px;
  color: #fbe8d3;
  margin-left: 30%;
}

#info {
  width: 800px;
  height: auto;
  padding: 20px;
  position: relative;
  margin: auto;
  background-color: white;
}

#info p {
  font-size: 16px;
  margin: 0;
  color: #2a363b;
}
#info h1 {
  margin: 0;
  color: #222831;
}

#doctors {
  width: 800px;
  height: auto;
  padding: 20px;
  position: relative;
  margin: auto;
  background-color: white;
}

#doctor-bar {
  width: 100%;
  height: 450px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#doctor1 {
  background-color: #2a363b;
  width: 200px;
  height: 450px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#doctor1:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#doctor2 {
  background-color: #e84a5f;
  width: 200px;
  height: 450px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#doctor2:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#doctor3 {
  background-color: #5b6d5b;
  width: 200px;
  height: 450px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#doctor3:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

#randevu {
  width: 800px;
  height: 500px;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  margin: auto;
  background-color: white;
}

#randevu input {
  height: 30px;
  width: 200px;
}

#randevu select,
option {
  height: 30px;
  width: 250px;
  text-align: center;
}

#giris {
  width: 800px;
  height: 500px;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  margin: auto;
  background-color: white;
}

#giris input {
  height: 30px;
  width: 200px;
}

#cikis {
  width: 800px;
  height: 500px;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  margin: auto;
  background-color: white;
}

#cikis input {
  height: 30px;
  width: 200px;
}

#iletisim {
  width: 800px;
  height: auto;
  padding: 20px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: white;
}

#iletisim p {
  font-size: 16px;
  margin: 0;
  color: #2a363b;
}
#iletisim h1 {
  margin: 0;
  color: #222831;
}
